# -*-makefile-*-
ifneq ($(findstring darwin,$(OSTYPE)),)
#SENDOBJ=$(BLL_ROOT)/sendobj.js/sendobj.js
SENDOBJ=python3 $(BLL_ROOT)/sendobj.py/sendobj.py -q
FLASHER=python3 $(BLL_ROOT)/flash_up.py/flash_up.py -q
COM?=/dev/tty.usbserial-FT63V37G
else
SENDOBJ=sendobj.exe
FLASHER=flash_up.exe
COM?=COM7
endif

BAUD?=1000000

.PHONY: send
send: $(DEMO).o
	$(SENDOBJ) -b $(BAUD) -p $(COM) $<

.PHONY: erase
erase:
	@$(FLASHER) -b $(BAUD) -p $(COM) -e

.PHONY: flash
flash: lnx
	@$(FLASHER) -b $(BAUD) -p $(COM) -e -f $(DEMO).lnx

.PHONY: sram
sram: lnx
	sram_up.exe -b $(BAUD) -p $(COM) -w $(DEMO).lnx
